body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  top:0;
}

table{
	border:1px solid #444;
	margin:10px 10px;
}
th{
	border-bottom:1px solid #555;
	font-size:13pt;

}
thead{
	background:#ececfb;
}
.event{
	cursor:pointer;
	background:#4c79ff;
	color:white;
	text-shadow:1px 1px #FFF;
}
td{
	border:1px solid #000;
	width:20px;
	text-align:center;
}
.nav, a{
	display:inline;
	width:200px;
	font-size:16pt;
	font-weight:900;
	top:0;
	padding:5px 5px;
}

.calendar{
	margin-top:5%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
